$main-color:#333;
$secondary-color:#164dcc;
$pure-white:#fff;
$light-white:#eee;
$dark:#2e2e2e;

$gray:gray;


$light-black-gradient: linear-gradient(45deg, rgba(33, 38, 39, 0.75), rgba(149, 138, 138, 0.75));
$light-orange-gradient:linear-gradient(45deg, rgba(33, 38, 39, 0.75), rgba(253, 101, 0, 0.75));
